
## ===================================================
## Configuration File - Wed Apr 26 12:18:56 2006
## ===================================================


# Primary Type: KASCADE codes:Ex:1=gamma,13=proton or 
# Kascade Heavy Type codes:20+Atomic N: Ex 24=>He4, 76=>Fe56 
PrimaryType 1
PrimaryEnergyGeV 1000                 # Primary Energy in GeV
dlInitial 1e-15                       # Primary Inital x direction cosign
dmInitial -0.0174522                  # Primary Inital y direction cosign

# Particle Track Energy Threshold in MeV 
EnergyThresholdMeV 10

# Maximum Coulomb Scattering segment Length in gm/cm**2 
MaxCoulombScatSegmentLength 0.02
InjectionDepth 0.1                    # Primary Injection Depth in gm/cm**2

# Observatory Altitude in Meters above sea level. 
ObservationAltitudeM 2320
ShowerID 1                            # Shower ID number.

# Earths Magnetic File specification. Possible values are W 
# (for Whipple/BaseCamp)or ? 
EarthsMagneticFieldSpec "W"
TraceEnableFlag01 0                   # A 1 here enables trace for Gamma
TraceEnableFlag02 0                   # A 1 here enables trace for Positron
TraceEnableFlag03 0                   # A 1 here enables trace for Electron
TraceEnableFlag04 0                   # A 1 here enables trace for Mu +
TraceEnableFlag05 0                   # A 1 here enables trace for Mu -
TraceEnableFlag06 0                   # A 1 here enables trace for PI 0
TraceEnableFlag07 0                   # A 1 here enables trace for PI +
TraceEnableFlag08 0                   # A 1 here enables trace for PI -
TraceEnableFlag09 0                   # A 1 here enables trace for K +
TraceEnableFlag10 0                   # A 1 here enables trace for K -
TraceEnableFlag11 0                   # A 1 here enables trace for K long
TraceEnableFlag12 0                   # A 1 here enables trace for K short
TraceEnableFlag13 0                   # A 1 here enables trace for Proton
TraceEnableFlag14 0                   # A 1 here enables trace for Neutron
TraceEnableFlag15 0                   # A 1 here enables trace for eNeutrino
TraceEnableFlag16 0                   # A 1 here enables trace for anti-eNu
TraceEnableFlag17 0                   # A 1 here enables trace for muNeutrino
TraceEnableFlag18 0                   # A 1 here enables trace for anti-muNu

# A 1 here enables trace for Heavies (Kascade Type= 20 + 
# Atomic N) 
HeavyParticleTraceEnableFlag 0
RandomSeedFileName ""                 # File Name for Random Seed File.
