
## ===================================================
## Configuration File - Tue Mar 27 13:26:53 2012
## ===================================================


# The is the seed for the random number generator (RNG). The 
# default seed is "0", which means that RNG are initialized 
# with random seeds (based on CPU time...). 
G_GlobalRandomSeed 0

# This is the global debug level. Possible values are 
# "E_NODEBUG", "E_INFO", "E_FULLDEBUG". The default value is 
# "E_NODEBUG", i.e. unless the user specify a higher debug 
# level for specific classes, there will be no debug 
# information produced. 
G_GlobalDebugLevel "E_NODEBUG"

# This is the global debug stream. The default value is 
# "std::cout". Any other value is interpreted as a filename, 
# and the debug information will be streamed to that file. 
G_GlobalDebugStream "std::cout"

# This is a list of classes with specific debug levels and 
# streams. If you want a class called "VASomeThing" to have 
# a debug level of "E_INFO" and stream the output to a file 
# named "myclassdebug.txt", the option should be 
# "VASomeThing/E_INFO/myclassdebug.txt". 
G_DebugOptions 

# False (or 0) for real data. True (or 1) for simulation. 
G_SimulationMode 0

# False (or 0) if we are to try patching events affected by 
# overflow. Default to True (or 1). 
G_DiscardOverflow 1

# Frequency at which information is printed for events. The 
# default value is set to 1000, i.e.,information is printed 
# every 1000 events. A value of 0 should be interpreted as 
# NO PRINTOUT. Any other non-negative value (XXXX) is 
# interpreted as: print every XXXX events. 
G_GlobalProgressPrintFrequency 10000

# Number of events to analyse. Default value is 0, which 
# means all events will be processed. Any other positive 
# integer is interpreted as an upper limit on the number of 
# events to be processed. 
G_NumEventsToAnalyse 0

# Start analysing at this event, skip all previous 
G_EventToStartFrom 0

# comma separated list of pointing offsets [degrees] in 
# camera X-plane. 1==T1, 2==T2, 3==T3, 4==T4. For example, 
# to put an arbitrary 0.05 degree mispointing on T1 and a 
# 0.1 degree mispointing on T2 do: 
# -G_PointingOffsetX=1/0.05,2/0.1 
G_PointingOffsetX 

# comma separated list of pointing offsets [degrees] in 
# camera X-plane. 1==T1, 2==T2, 3==T3, 4==T4. For example, 
# to put an arbitrary 0.1 degree mispointing on T1 and a 
# 0.05 degree mispointing on T2 do: 
# -G_PointingOffsetY=1/0.1,2/0.05 
G_PointingOffsetY 

# Use this option to set a GPS clock to be bad. For the 
# Telescope GPS clocks, the format is 1==T1, 2==T2, 3==T3, 
# 4==T4. Thus to set the GPS clocks for T1 and T3 do 
# -G_BadGPSClocks=1/true, 3/true. You can also set the L3 
# array trigger GPS clock to be bad. In this case, we the 
# index 0 to represet L3. Thus to set the L3, T1 and T3 GPS 
# clocks to be bad, do -G_BadGPSClocks=0/true, 1/true, 
# 3/true. The order is not important. Generally if you are 
# using this option in Stage1, you will need to use it in 
# stage 2 also. These settings will be saved to the run 
# header. 
G_BadGPSClocks 

# You can specify a source name here, e.g. Crab. If there 
# are no source co-ordinates in the run header, maybe 
# because the database was not contacted in stage 1, or you 
# are using simulations, then this can be used in 
# conjunction with VASourceList to get the source 
# co-ordinates for later stage analysis 
G_SourceName "undefined"

# The lookup tables can be filled with the means (and rms) 
# or medians (and 68% containment width). Choose by setting 
# -LTM_FillType to E_MEAN or E_MEDIAN. Note that this option 
# is only understood by the produce_lookuptables program. 
LTM_FillType "MEDIAN"

# The Width lookup tables can be filled with the means (and 
# rms) or medians (and 68% containment width). Choose by 
# setting -LTM_WidthFillType to E_MEAN or E_MEDIAN. Default 
# is LTM_FillType setting. Note that this option is only 
# understood by the produce_lookuptables program. 
LTM_WidthFillType " "

# The Length lookup tables can be filled with the means (and 
# rms) or medians (and 68% containment width). Choose by 
# setting -LTM_LengthFillType to E_MEAN or E_MEDIAN.Default 
# is LTM_FillType setting. Note that this option is only 
# understood by the produce_lookuptables program. 
LTM_LengthFillType " "

# The Energy lookup tables can be filled with the means (and 
# rms) or medians (and 68% containment width). Choose by 
# setting -LTM_EnergyFillType to E_MEAN or E_MEDIANDefault 
# is LTM_FillType setting. Note that this option is only 
# understood by the produce_lookuptables program. 
LTM_EnergyFillType " "

# The EaxisEnergy lookup tables can be filled with the means 
# (and rms) or medians (and 68% containment width). Choose 
# by setting -LTM_EaxisEnergyFillType to E_MEAN or E_MEDIAN 
# Default is LTM_FillType setting. Note that this option is 
# only understood by the produce_lookuptables program. 
LTM_EaxisEnergyFillType " "

# Set the minimum number of entries required to fill a bin 
# in the lookup table. Note that this option is only 
# understood by the produce_lookuptables program 
LTM_MinLTEntries 5

# Set this to true to write the histograms used for each bin 
# to file. Note that this option is only understood by the 
# produce_lookuptables program. 
LTM_WriteHistogramsToFile 0

# Set the window size used for checking the camera noise 
# when using noise in lookup tables. This **MUST** be the 
# same when reading and writing the lookup tables 
LTM_WindowSizeForNoise 12

# Set this to true to activate the interpolation in azimuth. 
LTM_InterpolateInAzimuth 0

# Specify which lookup tables to use during reconstruction. 
# Default is null string meaning program will not run 
# without this option set. 
LTM_LookupTableFile " "

TelID 0,1,2,3                                           # Comma separated list
Azimuth 0,45,90,135,180,225,270,315                     # Comma separated list
Zenith 1,10,20,30,40,50,60,70                           # Comma separated list
Noise 5.88,7.0,8.0,9.0,10.0,11.0,12.25,13.5,15.0,16.5   # Comma separated list
AbsoluteOffset 0.0,0.25,0.5,0.75,1.0,1.25,1.5,1.75,2.0  # Comma separated list

HillasDistance                        # Comma separated list
Width                                 # Comma separated list
Length                                # Comma separated list
