
## ===================================================
## Configuration File - Mon Jul 29 12:41:01 2013
## ===================================================

#This is special for tel T2.

# Specifies a Threshold level for a pixel to fire. Value is 
# in units of mean pes level. 
DiscriminatorThreshold 4.0

# Must be set! Mean Night Sky shine rate in pes/deg/ns 
# (before application of all efficiency factors) 
NoiseRate 8.0

# Sigma of Jitter of Night Sky Rates to generate across 
# pixels. This models the variance in night sky rates in the 
# field-of-view. In pes/deg/ns. Applied beforeall efficiency 
# factors 
NoiseRateSigma 0

# Specifies an overall efficiency value. Only this fraction 
# of generated Cherenkov photons will be used in testing for 
# a trigger. Models dirty mirrors, dirty air, dirty 
# pmts/lightcones etc. Allowed range is 0.0 -> 1.0 
# inclusive. 
Efficiency 0.55

# Conversion factor from pe's to digital counts in 
# FADCtraces. 
DigitalCountsPerPE 1.42

# Defines Telescope we are modeling. Allowed values: T1, T2, 
# T3, T4. Used in Output to specifiy telescope. Used for 
# modeling when getting PedVars, Relative gains etc. T1 is 
# default. Use default for Whipple490 
Telescope "T2"

# File Name for Output Veritas VBF Event file. This file 
# will mimic a real raw data file complete with trace data. 
# Default is to not create such a file. 
VBFOutputFileName " "

# File Name for Input Simulation Configuration file. This 
# file contains all the information needed to reproduce the 
# complete simulation effort, from ksKascade to ksAomega. 
# This file is saved in the VBF and VDF files in the 
# simulation headers as a single very long string: 
# fSimConfigfile. 
SimulationConfigFileName " "

# File Name for Output Veritas Root Event file. This file 
# will mimic a Veritas VEGAS stage2 calibrated event root 
# file (VDF file). It will have no trace data but will have 
# standard VARunHeader, VAArrayInfo, VAQStatsData, 
# VARelGainData records and single telescope 
# VACalibratedArrayEvent and VASimulationData TTrees. This 
# file will be suitable for processing through stages 3-6 of 
# VEGAS. Default is to not create such a file. 
RootOutputFileName " "
RandomSeedFileName " "                # File Name for Random Seed File.

# Input File Name for a VEGAS Stage 2 ouput type Root file. 
# This file will contain: VAPixelStatusData record, used 
# when BadPixelSupression is set OFF. VAQStatsData record, 
# used when RelativePedVars is set ON. and a VARelGainData 
# record, used when RelativeGains is set ON. Use this to 
# simulate a particular run. Default(No file name given) is 
# to use: No bad pixels,Relative Gains: All=1, Relative 
# PedVars: All =1, Pedestals All= kDefaultPedestal 
# (nominally 20) 
PixelStatsFileName "/global/scratch/sd/u15013/veritas/../simulations/veritas/44542StdCuts.root"

# ON (default)enables the use of a special VARelGainsData 
# record in the file specified by PixelStatsFileName to 
# model the relative gains of the pixels after a particular 
# run. OFF disables. Not used if PixelStatsFileName not 
# specified 
RelativeGains "ON"

# ON (default) enables the use of a special 
# VAPixelsStatusData record in the file specified by 
# PixelStatsFileName to model the dead pixels of a 
# particular run. OFF disables. Not used if 
# PixelStatsFileName not specified 
BadPixelSupression "OFF"

# ON (default) enables the use of a special VARelGainsData 
# record in the file specified by PixelStatsFileName to 
# model the relative pedvars (standard deviation) pixels 
# after a particular run. OFF disables. Not used if 
# PixelStatsFileName not specified 
RelativePedVars "ON"

# PST triggered pixel adjacency requirement for an event 
# trigger. Acceptable levels are only: 2 ,3, or 4. Any other 
# value defaults to 3. 
PatternTriggerLevel 3

# Require this multiplicity value for a trigger. 
TriggerMultiplicity 3

# Number of pixels to include in PST search for triggers. 
# This is mainly for special low-energy trigger mode. 
# Default is normal for this telescope type: VERITAS499:463, 
# Whipple490:331 
NumPSTTrigPixels -1

# Specifies an length of the ADC gate for charge 
# integration. 
ADCGateWidthNS 20

# Fraction of light that hits light cone that the light cone 
# will then reflect onto the active PMT photo-cathode to 
# create photo-electrons. 
LightConeConcentration 0.45

# Run Number to use for Output file (VDF or VBF) if one is 
# specified. Default value is 90000 
OutputRunNumber 90000

# Specifies the rise time in ns of the single pe pulse used 
# to build the CFD/FADC input waveforms. Upgrade VERITAS 
# PMTS are much faster than original VERITAS PMTs. If this 
# option specified so must the SinglePeFallTimeNS option be 
# specified! Default value (0.0) results in the telescope 
# specified value in KSCommon.h to be used (Upgrade for 
# VERITAS). 
SinglePeRiseTimeNS 3.2

# Specifies the fall time in ns of the single pe pulse used 
# to build the CFD/FADC input waveforms. Upgrade VERITAS 
# PMTS are much faster than original VERITAS PMTs. If this 
# option specified so must the SinglePeRiseTimeNS option be 
# specified! Default value (0.0) results in the telescope 
# specified value in KSCommon.h to be used. (Upgrade for 
# VERITAS) 
SinglePeFallTimeNS 8.5
