
## ===================================================
## Configuration File - Mon Jun 19 14:55:16 2006
## ===================================================


# Specifies a Threshold level for a pixel to fire. Value is 
# in units of mean pes level. 
DiscriminatorThreshold 5.15

# Night sky shine rate in pes/deg/ns (after application of 
# all efficiency factors) 
NoiseRate 8.5

# Specifies an overall efficiency value. Only this fraction 
# of generated Cherenkov photons will be used in testing for 
# a trigger. Models dirty mirrors, dirty air, dirty 
# pmts/lightcones etc. Allowed range is 0.0 -> 1.0 
# inclusive. 
Efficiency .65

# Conversion factor from pe's to digital counts in 
# FADCtraces. 
DigtalCountsPerPE 1.5

# Defines Telescope we are modeling. Allowed values: T1, T2, 
# T3, T4. Used in Output to specifiy telescope. Used for 
# modeling when getting PedVars, Relative gains etc. T1 is 
# default. Use default for Whipple490 
Telescope "T1"

# File Name for Output Veritas VBF Event file. This file 
# will mimic a real raw data file complete with trace data. 
# Default is to not create such a file. 
VBFOutputFileName " "

# File Name for Output Veritas Root Event file. This file 
# will mimic a Veritas VEGAS stage2 calibrated event root 
# file (VDF file). It will have no trace data but will have 
# standard VARunHeader, VAArrayInfo, VAQStatsData, 
# VARelGainData records and single telescope 
# VACalibratedArrayEvent and VASimulationData TTrees. This 
# file will be suitable for processing through stages 3-6 of 
# VEGAS. Default is to not create such a file. 
RootOutputFileName " "
RandomSeedFileName " "                # File Name for Random Seed File.

# Input File Name for a VEGAS Stage 2 ouput type Root file. 
# This file will contain: VAPixelStatusData record, used 
# when BadPixelSupression is set ON. VAQStatsData record, 
# used when RelativePedVars is set ON. and a VARelGainData 
# record, used when RelativeGains is set ON. Use this to 
# simulate a particular run. Default(No file name given) is 
# to use: No bad pixels,Relative Gains: All=1, Relative 
# PedVars: All =1, Pedestals All= kDefaultPedestal 
# (nominally 20) 
#PixelStatsFileName "/project/veritas/sembrosk/veritas/30796S3.root"
PixelStatsFileName " "

# ON (default)enables the use of a special VARelGainsData 
# record in the file specified by PixelStatsFileName to 
# model the relative gains of the pixels after a particular 
# run. OFF disables. Not used if PixelStatsFileName not 
# specified 
RelativeGains "OFF"

# ON (default) enables the use of a special 
# VAPixelsStatusData record in the file specified by 
# PixelStatsFileName to model the dead pixels of a 
# particular run. OFF disables. Not used if 
# PixelStatsFileName not specified 
BadPixelSupression "OFF"

# ON (default) enables the use of a special VARelGainsData 
# record in the file specified by PixelStatsFileName to 
# model the relative pedvars (standard deviation) pixels 
# after a particular run. OFF disables. Not used if 
# PixelStatsFileName not specified 
RelativePedVars "OFF"

# PST triggered pixel adjacency requirement for an event 
# trigger. Acceptable levels are only: 2 ,3, or 4. Any other 
# value defaults to 3. 
PatternTriggerLevel 3

# Require this multiplicity value for a trigger. 
TriggerMultiplicity 3

# Specifies an length of the ADC gate for charge 
# integration. 
ADCGateWidthNS 20

# Fraction of light that hits light cone that the light cone 
# will then reflect onto the active PMT photo-cathode to 
# create photo-electrons. 
LightConeConcentration 0.53

# Run Number to use for Output file (VDF or VBF) if one is 
# specified. Default value is 90000 
OutputRunNumber 90001
