
## ===================================================
## Configuration File - Fri Sep 22 09:51:48 2006
## ===================================================


# Specifies Input and Output file type. Acceptable values 
# are VBFFILE of ROOTFILE. Default is VBFFILE 
DataType "VBFFILE"

# Specifies a Multiplicity level for an Array Event. Range 
# is 1 to 4 
ArrayTriggerMultiplicity 2

# Single Shower File Name for T1 Input Veritas Event file. 
# This file is for events found in T1. All input Telescope 
# files are created by ksAomega from the same base shower 
# file. File type is specifed by DataType option. Default is 
# to not use the T1 telescope in the array. 
T1ShowerFileName " "

# Shower File Name for T2 Input Veritas Event file. File 
# type is specifed by DataType option. Default is to not use 
# the T2 telescope in the array. 
T2ShowerFileName " "

# Shower File Name for T3 Input Veritas Event file. File 
# type is specifed by DataType option. Default is to not use 
# the T3 telescope in the array. 
T3ShowerFileName " "

# Shower File Name for T4 Input Veritas Event file. File 
# type is specifed by DataType option. Default is to not use 
# the T4 telescope in the array. 
T4ShowerFileName " "

# Individual Telescope event Pulse width in NS as fed into 
# the L3 trigger coincidence.(Ignored at Present!) 
TelescopeEventGateWidthNS 20

# Coincidence window width in NS for the array trigggers. 
# (Ignored at Present!) 
ArrayCoincidenceGateWidthNS 40
RandomSeedFileName " "                # File Name for Random Seed File.

# Run Number to use for Output file (VDF or VBF) if one is 
# specified. Default value is 95000 
OutputRunNumber 95022
