
## ===================================================
## Configuration File - Tue Oct 10 10:21:41 2006
## ===================================================


# Primary Type: KASCADE codes:Ex:1=gamma,13=proton or 
# Kascade Heavy Type codes:20+Atomic N: Ex 24=>He4, 76=>Fe56 
PrimaryType 1
PrimaryEnergyGeV 1000                 # Primary Energy in GeV
dlInitial 1e-15                       # Primary Inital x direction cosign
dmInitial -0.0174522                  # Primary Inital y direction cosign

# Particle Track Energy Threshold in MeV 
EnergyThresholdMeV 10

# Maximum Coulomb Scattering segment Length in gm/cm**2 
MaxCoulombScatSegmentLength 0.02
InjectionDepth 0.1                    # Primary Injection Depth in gm/cm**2

# Observatory Altitude in Meters above sea level. 
ObservationAltitudeM 2320
ShowerID 1                            # Shower ID number.

# Earths Magnetic File specification. Possible values are W 
# (for Whipple/BaseCamp)or ? 
EarthsMagneticFieldSpec "W"

# A comma seperated list of 20 Boolean values (true/false or 
# true/false value (for gcc true/false=1/0) ). A true in any 
# of the first 18 positions enables a debug trace of that 
# KASCADE particle type to be printed. A true in the last 
# position (20th) enables trace for Heavies (Kascade Type= 
# 20 + Atomic N). Default is all false: No trace printing 
ParticleTraceEnableFlags 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# A comma seperated list of 3 Boolean values (true/false or 
# or a true/false value ( for gcc true/false=1/0) ). These 
# flags enable(disable) various functions in the shower 
# generation code. Flag 1 Enables: Bending in the Earths 
# Magnetic Field.Flag 2 Enables: Ionization losses.Flag 3 
# Enables: Multiple Coulomb Scattering.Default is all true: 
# All functions enabled! 
FunctionEnableFlags 1,1,1
RandomSeedFileName ""                 # File Name for Random Seed File.

## ===================================================
## Configuration File - Tue Oct 10 10:22:54 2006
## ===================================================


# Mount Type: WHIPPLE or VERITAS. Specifies mirror area and 
# grid area size. 
MountType "WHIPPLE"

# Structure of grid on the ground. TRIANGULAR allows for 
# hexagonal arrays. SQUARE is other option 
GridType "TRIANGULAR"

# Specifies what Orientation on the ground a TRIANGULAR grid 
# (if chosen) will have. Options are NORTHSOUTH or EASTWEST 
GridOrientation "NORTHSOUTH"

# RANDOM mode offsets the core location of a shower randomly 
# within the central (0,0) grid area. This prevents some 
# subtle corelations (especially for array events) and more 
# accuaratly models real data. 
CoreOffsetMode "RANDOM"

# Defines which Quantum Efficiency table to use for the 
# PMTs. Options are WHIPPLE or VERITAS or ADP 
PMTType "WHIPPLE"

# Specifies an overall efficiency value. Only this fraction 
# of generated Cherenkov photons will be saved to the output 
# file. Allowed range 0.0 -> 1.0 inclusive 
Efficiency 1

# Specifies a special Output mode for producing a VERITAS 
# Benchmark results text file 
Benchmark 0
RandomSeedFileName ""                 # File Name for Random Seed File.

## ===================================================
## Configuration File - Tue Oct 10 10:23:06 2006
## ===================================================


# Primary Type: KASCADE codes:Ex:1=gamma,13=proton or 
# Kascade Heavy Type codes:20+Atomic N: Ex 24=>He4, 76=>Fe56 
PrimaryType 1
PrimaryEnergyGeV 1000                 # Primary Energy in GeV
dlInitial 1e-15                       # Primary Inital x direction cosign
dmInitial -0.0174522                  # Primary Inital y direction cosign

# Particle Track Energy Threshold in MeV 
EnergyThresholdMeV 10

# Maximum Coulomb Scattering segment Length in gm/cm**2 
MaxCoulombScatSegmentLength 0.02
InjectionDepth 0.1                    # Primary Injection Depth in gm/cm**2

# Observatory Altitude in Meters above sea level. 
ObservationAltitudeM 2320
ShowerID 1                            # Shower ID number.

# Earths Magnetic File specification. Possible values are W 
# (for Whipple/BaseCamp)or ? 
EarthsMagneticFieldSpec "W"

# A comma seperated list of 20 Boolean values (true/false or 
# true/false value (for gcc true/false=1/0) ). A true in any 
# of the first 18 positions enables a debug trace of that 
# KASCADE particle type to be printed. A true in the last 
# position (20th) enables trace for Heavies (Kascade Type= 
# 20 + Atomic N). Default is all false: No trace printing 
ParticleTraceEnableFlags 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# A comma seperated list of 3 Boolean values (true/false or 
# or a true/false value ( for gcc true/false=1/0) ). These 
# flags enable(disable) various functions in the shower 
# generation code. Flag 1 Enables: Bending in the Earths 
# Magnetic Field.Flag 2 Enables: Ionization losses.Flag 3 
# Enables: Multiple Coulomb Scattering.Default is all true: 
# All functions enabled! 
FunctionEnableFlags 1,1,1
RandomSeedFileName ""                 # File Name for Random Seed File.
