
## ===================================================
## Configuration File - Thu May 11 16:37:07 2006
## ===================================================


# Primary Type: KASCADE codes:Ex:1=gamma,13=proton or 
# Kascade Heavy Type codes:20+Atomic N: Ex 24=>He4, 76=>Fe56 
PrimaryType 24                    
PrimaryEnergyGeV 84                 # Primary Energy in GeV
#dlInitial 1e-15                       # Primary Inital x direction cosign
#dmInitial 0.0174522              # Primary Inital y direction cosign 1 DegN
#dmInitial 0.3420201              # Primary Inital y direction cosign 20 DegN
#dmInitial 0.5                     # Primary Inital y direction cosign 30 DegN

# Primary Initial azimuth angle (0 degrees North). This is 
# the direction the Primary is COMING FROM. Overrides 
# dlInitial and dmInitial 
AzInitialDeg 315.0

# Primary Initial zenith angle (0 degrees up). This is the 
# direction the Primary is COMING FROM. Overrides dlInitial 
# and dmInitial 
ZenithInitialDeg 20.0

# Particle Track Energy Threshold in MeV 
EnergyThresholdMeV 10

# Maximum Coulomb Scattering segment Length in gm/cm**2 
MaxCoulombScatSegmentLength 0.02
InjectionDepth 0.1                    # Primary Injection Depth in gm/cm**2

# Observatory Altitude in Meters above sea level. 
ObservationAltitudeM 1275.0
ShowerID 1                            # Shower ID number.

# Earths Magnetic File specification. Possible values are W 
# (for Whipple/BaseCamp)or ? 
EarthsMagneticFieldSpec "W"

# A comma seperated list of 20 Boolean values (true/false or 
# true/false value (for gcc true/false=1/0) ). A true in any 
# of the first 18 positions enables a debug trace of that 
# KASCADE particle type to be printed. A true in the last 
# position (20th) enables trace for Heavies (Kascade Type= 
# 20 + Atomic N). Default is all false: No trace printing 
ParticleTraceEnableFlags 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# A comma seperated list of 3 Boolean values (true/false or 
# or a true/false value ( for gcc true/false=1/0) ). These 
# flags enable(disable) various functions in the shower 
# generation code. Flag 1 Enables: Bending in the Earths 
# Magnetic Field.Flag 2 Enables: Ionization losses.Flag 3 
# Enables: Multiple Coulomb Scattering.Default is all true: 
# All functions enabled! 
FunctionEnableFlags 1,1,1
RandomSeedFileName "ksKascade.ran"                 # File Name for Random Seed File.
