
## ===================================================
## Configuration File - Wed Oct 24 11:01:25 2012
## ===================================================


# Mount Type: WHIPPLE or VERITAS. Specifies mirror area and 
# grid area size. 
MountType "VERITAS"

# Structure of grid on the ground. TRIANGULAR allows for 
# hexagonal arrays. SQUARE is other option 
GridType "SQUARE"

# Specifies what Orientation on the ground a TRIANGULAR grid 
# (if chosen) will have. Options are NORTHSOUTH or EASTWEST 
GridOrientation "NORTHSOUTH"

# RANDOM mode offsets the core location of a shower randomly 
# within the central (0,0) grid area. This prevents some 
# subtle corelations (especially for array events) and more 
# accuaratly models real data. 
CoreOffsetMode "RANDOM"

# Defines which Quantum Efficiency table to use for the 
# PMTs. Options are WHIPPLE, VERITAS or UPGRADE 
PMTType "UPGRADE"

# Specifies an overall efficiency value. Only this fraction 
# of generated Cherenkov photons will be saved to the output 
# file. Allowed range 0.0 -> 1.0 inclusive 
Efficiency 1

# Specifies a special Output mode for producing a VERITAS 
# Benchmark results text file 
Benchmark 0

# Specifies use with Veritas PMTs (only) of a Moonlight 
# filter. Used for e+/e- ratio investigations using the 
# moons shadow. From Jamie Holder 2012. Default is to not 
# use (=0) 
MoonFilter 0
RandomSeedFileName ""                 # File Name for Random Seed File.

# File Name for Atmosphere Extinction File. (Including path 
# with file name is permissible). Default is 
# extinction_uv.dat 
ExtinctionFile "extinction_uv.dat"
