
## ===================================================
## Configuration File - Tue Oct 10 10:23:34 2006
## ===================================================


# Mount Type: WHIPPLE or VERITAS. Specifies mirror area and 
# grid area size. 
MountType "VERITAS"

# Structure of grid on the ground. TRIANGULAR allows for 
# hexagonal arrays. SQUARE is other option 
#GridType "TRIANGULAR"
GridType "SQUARE"

# Specifies what Orientation on the ground a TRIANGULAR grid 
# (if chosen) will have. Options are NORTHSOUTH or EASTWEST 
GridOrientation "NORTHSOUTH"

# RANDOM mode offsets the core location of a shower randomly 
# within the central (0,0) grid area. This prevents some 
# subtle corelations (especially for array events) and more 
# accuaratly models real data. 
CoreOffsetMode "RANDOM"

# Defines which Quantum Efficiency table to use for the 
# PMTs. Options are WHIPPLE or VERITAS or ADP 
PMTType "VERITAS"

# Specifies an overall efficiency value. Only this fraction 
# of generated Cherenkov photons will be saved to the output 
# file. Allowed range 0.0 -> 1.0 inclusive 
Efficiency 1

# Specifies a special Output mode for producing a VERITAS 
# Benchmark results text file 
Benchmark 0
RandomSeedFileName ""                 # File Name for Random Seed File.
