
## ===================================================
## Configuration File - Tue Oct 10 10:26:01 2006
## ===================================================


# Camera Type: WHIPPLE490 or VERITAS499. Specifies camera 
# structure and telescope parameters such as mirror size and 
# focal length. 
CameraType "VERITAS499"

# ON enables the production of pmt traces for the pixels. 
# This is slightly more accurate but much slower.(Not yet 
# implemented!) OFF disables (default) 
TraceEnable "OFF"

# ON enables the use of a special Theta/Phi mount 
# redirection mode useful for Drift-scan modeling of Gamma 
# (signal) events. OFF (default) disables. If this option is 
# chosen then you should also set -MaximumThetaDeg=1.0 (for 
# example). 
DriftingGammas "OFF"

# Random direction of hadrons is modeled by looking for 
# triggers when the mount is pointed in a random direction 
# less than this value form the nominal direction. Used when 
# MultipleMountDirections=ON. Also used when 
# DriftingGammas=ON chosen for range of directions. 
MaximumThetaDeg 9

# For DriftedGammas=ON events: Specifies the size of steps 
# to take in RA away from the original direction. 
DriftedGammaStepSizeDeg 0.1

# ON enables the use of the MountElevationDeg to determine 
# MountDirectionXDl, MountDirectionYDm and 
# MountDirectionZDn. This is part of DriftingGammas mode. 
UseElevationForDlDmDn "OFF"

# ON enables the use of random directions within a circle of 
# radius MaximumThetaDeg of original Mount direction for 
# each event. This models the random arrival directions of 
# Cosmic ray showers. 
MultipleMountDirections "OFF"

# For non-gamma events: Specifies the number of random 
# directions to test for triggers for each event. Used only 
# when MultipleMountDirections=ON 
NumDirections 1

# ON enables the reading from a file specfified in 
# MountDirectionsFileName the various mount directions. This 
# is needed when array events are to be created from events 
# from the various telescopes. 
LoadMountDirectionsFromFile "OFF"

# ON enables the saveing to a file specfified in 
# MountDirectionsFileName the various mount directions. This 
# is needed when array events are to be created from events 
# from the various telescopes(they all need to use the same 
# set of directions). 
SaveMountDirectionsToFile "OFF"

# File Name for Mount Directions Binary File. See 
# LoadMountDirectionsFromFile and SaveMountDirectionsToFile 
# options. 
MountDirectionsFileName " "

# Night sky shine rate in pes/deg/ns (after application of 
# all efficiency factors) 
NoiseRate 8.0

# Specifies an effective timing width for the addition of 
# sky-shine noise to the discriminator signal. For the 
# TraceEnable=OFF method. 
DiscCoincidenceWidthNS 6.5

# Specifies a Threshold level for a pixel to fire. Value is 
# in units of mean pes level 
#DiscriminatorThreshold 4
DiscriminatorThreshold 3

# Specifies an overall efficiency value. Only this fraction 
# of generated Cherenkov photons will be used in testing for 
# a trigger. Models dirty mirrors, dirty air, dirty 
# pmts/lightcones etc. Allowed range is 0.0 -> 1.0 
# inclusive. 
Efficiency 1

# Number of pixels needed for a trigger. 
TriggerMultiplicity 3

# PST triggered pixel adjacency requirement for an event 
# trigger. Acceptable levels are only: 2 ,3, or 4. Any other 
# value disables use of Pattern Trigger. 
PatternTriggerLevel 3

# Fraction of light that hits light cone that the light cone 
# will then reflect onto the active PMT photo-cathode to 
# create photo-electrons. 
LightConeConcentration 1

# X direction cosign of the mount direction. X goes East. 
# Maybe! 
MountDirectionXDl -1e-15

# Y direction cosign of the mount direction, Y goes North, 
# maybe! 
#MountDirectionYDm 0.0174522  #1 DegN
MountDirectionYDm 0.34202     #20 Deg N

# Z direction cosign of the mount direction, Z goes down, 
# for sure. So this is always a negative value. 
#MountDirectionZDn -0.999848           #1 Deg N
MountDirectionZDn -0.939693            #20 deg N

# Elevation in degrees of mount. Used when 
# UseElevationForDlDmDn=ON. In that case it superceds 
# MountDirectionXDl,MountDirectionYDm and MountDirectionZDn 
# values. This is part of the DriftingGammas drift-scan 
# modeling 
MountElevationDeg 0
RandomSeedFileName " "                # File Name for Random Seed File.
