
## ===================================================
## Configuration File - Tue Aug 19 14:26:29 2008
## ===================================================


# Name of File which has a list of stage5 files with 
# combined Trees to be used to generate the Signal Trees. If 
# not specified the Signal Model TTrees will not be 
# generated. 
SignalFileList "GammaSignalList"
#SignalFileList " "

# Specifies Purdue-DePauw Gamma-Ray Background event process 
# algorithm. Possible values are: 
# -BackgroundEventProcess=Null: Do not process events. 
# -BackgroundEventProcess=PDMLKascadeBackgroundEventProcess(default): 
# Process events from KASCADE Gamma-Ray sim derived files 
BackgroundEventProcess "PDMLKASCADEBackgroundEventProcess"

# Name of File which has a list of stage5 files with 
# combined Trees to be used to generate the Background 
# Trees. If not specified the Background Model TTrees will 
# not be generated. 
#BackgroundFileList " "
BackgroundFileList "crab1List"

# Specifies how to model the camera acceptance. Possible 
# values are: -BackgroundCameraAcceptanceModel=Radial: 
# Assume the background event intensity in the camera plane 
# is symmetric in azimuth. That is, the events only have 
# radial dependence. Modeling is done with R (not R**2, see 
# next option choice). This empathizes small R accuracy. 
# This is the 
# default-BackgroundCameraAcceptanceModel=Radial2: Assume 
# the background event intensity in the camera plane is 
# symmetric in azimuth. That is, the events only have radial 
# dependence. Modeling is done with R**2 (not R, see 
# previous option choice) This empathizes large R accuracy. 
# This is what VEGAS presently 
# uses.-BackgroundCameraAcceptanceModel=RadialZenith: Assume 
# the background event intensity in the camera plane has 
# basically a radial dependence with a zenith gradient. This 
# is the most accurate but may, due to the small number of 
# background events, have statistical problems especially at 
# large radii. This method is the one that Matthius Beilicke 
# advocates. 
#BackgroundCameraAcceptanceModel "Radial"
BackgroundCameraAcceptanceModel "Radial2"

# Size of bins in degrees for the zenith function axis 
# (g=arcsin(z/r)) of the Background Model. Only used with 
# the -BackgroundCameraAcceptanceModel=RadialZenith option. 
# Default is 20 degrees. 
BackgroundModelZenithBinSizeDeg 20

# This is the number of bins for the radial function axis. 
# Default is 40. 
BackgroundModelNumberRadialBins 50

# Maximum radial extent of our Background Model. Default is 
# 3 degrees. 
#BackgroundModelRadialMaxDeg 3
BackgroundModelRadialMaxDeg 2.236    #sqrt(5)

# Minimum acceptable fraction of the total counts for each 
# bin of the background RZ histogram. Any bins with less 
# than this amount is zeroed. Default = 0.07 (7%) 
#BackgroundModelMinExposureFraction 0.07
BackgroundModelMinExposureFraction 0.0

# Two methods are possible: Smoothing or fitting a function 
# to the acceptance curve. If -AcceptanceFitMethod=SMOOTH , 
# the exposure corrected Acceptance histogram is smoothed 
# with a double pass. This smoothed histogram is then used 
# as a lookup table to generate the Background 
# model.Otherwise the argument to -AcceptanceFitMethod is 
# used to specify a function to be fit to the exposure 
# corrected Acceptance histogram. This fitted curve is then 
# used to generate the Background. Possible functions to fit 
# are: -AcceptanceFitMethod=POLYNOM4 , a 4th deg polynomial, 
# -AcceptanceFitMethod=PLEXP, (see acceptfitf.cpp in 
# vegas/resultsExtractor/) These 2 are used by vegas Stage6 
# to fit an R**2 axis acceptance function, or 
# -AcceptanceFitMethod=PLY8EXP, an 8th deg polynomial times 
# an exponential (Used by Matthius for fitting to an R axis 
# acceptance histogram). Default is SMOOTH. 
#AcceptanceFitMethod "SMOOTH"
AcceptanceFitMethod "POLYNOM4"

# Specifies Purdue-Depauw Gamma-Ray Signal Model Maker 
# algorithm. Possible values are: 
# -BackgroundModelMaker=Null: Do not process events. 
# -BackgroundModelMaker=PDMLModelMakerBasic: Create 
# Baclground model from simple coolection of events from a 
# data file(s).-BackgroundModelMaker=PDMLModelMakerCA: 
# Create Background model(s) from an analysis of the camera 
# acceptance on a run by run basis. Based on Matthius 
# Bielicke algorithums (and others) algorithums. This is 
# default 
BackgroundModelMaker "PDMLModelMakerCA"

# Specifies the name of a text file with the regions to be 
# excluded in the process of generating the background 
# Acceptance. This list will usually include sources located 
# in the field-of-view, perhaps dead PMT clusters. Each line 
# of the file specifies one exclusion region. Each line has 
# (in deg) in this order: separated by spaces: RA of 
# excluded region center; Dec of excluded region center; 
# radius of exclusion region, label for the source. If this 
# option and the StarExclusionRegionList option are not 
# specified, exclusion regions are ignored in generating the 
# CameraAcceptance. 
ExclusionRegionList "CrabExcludeList"

# Specifies the name of a text file with the star and their 
# regions to be excluded in the process of generating the 
# background Acceptance. This list will include all stars 
# that are to be excluded. This is a generic star file. It 
# includes all stars we would ever want to exclude. Most 
# stars will, in fact, be outside the field-of-view. Each 
# line of the file specifies one exclusion region. Each line 
# has (in degs) in this order: separated by spaces: RA of 
# excluded region center; Dec of excluded region center; 
# radius of exclusion region, label for the star.If this 
# option and the ExclusionRegionList option are not 
# specified, exclusion regions are ignored in generating the 
# CameraAcceptance. 
StarExclusionRegionList "stars.dat"

# Specifies Purdue-Depauw Gamma-Ray Signal event proceess 
# algorithm. Possible values are: -SignalEventProcess=Null: 
# Do not process events. 
# -SignalEventProcess=PDMLKascadeSignalEventProcess(default): 
# Process events from KASCADE Gamma-Ray sim derived files 
SignalEventProcess "PDMLKASCADESignalEventProcess"

# Specifies Purdue-DePauw Gamma-Ray Signal Model Maker 
# algorithm. Possible values are: -SignalModelMaker=Null: Do 
# not process events. 
# -SignalModelMaker=PDMLKascadeModelMaker(default): Create 
# Gamma-Ray signal model histograms from KASCADE Gamma-Ray 
# sim derived files 
SignalModelMaker "PDMLKASCADEModelMaker"

# Name of the TTrees file to be created (or opened if the 
# file already exists). This file will have written to it 
# the EventSignal Trees and/or the Background tree. Must be 
# specified 
#ModelTreesFile " "
ModelTreesFile "crabModelTree.root"

# Enables rejection of events for filling the Trees 
# depending on the state of the Combined tree variable 
# "CutMask". Default is to not use the CutMask. 
UseCutMask 1

# Name of the Histogram model file to be created (or opened 
# if the file already exists). This file will have the 
# signal and or background model Histograms written to it. 
# Default is to not make the model histograms 
#ModelHistoFile " "
ModelHistoFile "crabModelHisto.root"

# Enables/Disables the creation of the Gamma-Ray Signal 
# Model histograms from the Signal TTrees in the Model Tree 
# File. Needs -modelHistoFileName option to be specified 
EnableSignalModelCreation 1

# Enables/Disables the creation of the Background Model 
# histogram from the Background TTree in the model File. 
# Needs -modelHistoFileName option to be specified 
EnableBackgroundModelCreation 1

# Diameter in Degrees of the field-of-View. The histograms 
# with be square with at least this size. Default value is 
# 4.5 Deg 
DiameterFieldOfViewDeg 4.5

# Size of bins in the histograms.Default value is .2 Deg 
BinSizeDeg 0.05
