
## ===================================================
## Configuration File - Tue Sep 16 15:33:23 2008
## ===================================================


# Lower limit for the theta-square cut. Units are degrees^2. 
# [def. 0] 
ThetaSquareLower 0

# Upper limit for the theta-square cut. Do NOT use this cut 
# with vaStage6 unless you know what you are doing!! It is 
# not appropriate when background estimation is an issue! 
# Use parameters associated with each background model 
# instead. This cut can and should be used with 
# makeEffectiveArea, however. Units are degrees^2. [def. 
# 129600] 
ThetaSquareUpper 129600

# Lower limit for the Impact Distance. Units are m. [def. 0] 
ImpactDistanceLower 0

# Upper limit for the Impact Distance. Units are m. [def. 
# 1200] 
ImpactDistanceUpper 1200

# Lower limit for the Mean Scaled Width. Units are 
# arbitrary. [def. 0] 
MeanScaledWidthLower 0.65

# Upper limit for the Mean Scaled Width. Units are 
# arbitrary. [def. 10] 
MeanScaledWidthUpper 1.03

# Currently Unused. Lower limit for the Standard Deviation 
# of the Mean Scaled Width. Units are arbitrary. [def. 0] 
MeanScaledWidthSigmaLower 0

# Currently Unused. Upper limit for the Standard Deviation 
# of the Mean Scaled Width. Units are arbitrary. [def. 10] 
MeanScaledWidthSigmaUpper 10

# Lower limit for the Mean Scaled Length. Units are 
# arbitrary. [def. 0] 
MeanScaledLengthLower 0.65

# Upper limit for the Mean Scaled Length. Units are 
# arbitrary. [def. 10] 
MeanScaledLengthUpper 1.17

# Currently Unused. Lower limit for the Standard Deviation 
# of the Mean Scaled Length. Units are arbitrary. [def. 0] 
MeanScaledLengthSigmaLower 0

# Currently Unused. Upper limit for the Standard Deviation 
# of the Mean Scaled Length. Units are arbitrary. [def. 10] 
MeanScaledLengthSigmaUpper 10

# Lower limit for the Mean Reduced Scaled Width. Units are 
# arbitrary. [def. -10] 
MeanReducedScaledWidthLower -10

# Upper limit for the Mean Reduced Scaled Width. Units are 
# arbitrary. [def. 10] 
MeanReducedScaledWidthUpper 10

# Currently Unused. Lower limit for the Standard Deviation 
# of the Mean Reduced Scaled Width. Units are arbitrary. 
# [def. 0] 
MeanReducedScaledWidthSigmaLower 0

# Currently Unused. Upper limit for the Standard Deviation 
# of the Mean Reduced Scaled Width. Units are arbitrary. 
# [def. 10] 
MeanReducedScaledWidthSigmaUpper 10

# Lower limit for the Mean Reduced Scaled Length. Units are 
# arbitrary. [def. -10] 
MeanReducedScaledLengthLower -10

# Upper limit for the Mean Reduced Scaled Length. Units are 
# arbitrary. [def. 10] 
MeanReducedScaledLengthUpper 10

# Currently Unused. Lower limit for the Standard Deviation 
# of the Mean Reduced Scaled Length. Units are arbitrary. 
# [def. 0] 
MeanReducedScaledLengthSigmaLower 0

# Currently Unused. Upper limit for the Standard Deviation 
# of the Mean Reduced Scaled Length. Units are arbitrary. 
# [def. 10] 
MeanReducedScaledLengthSigmaUpper 10

# Lower limit for the Shower Maximum. Units are km. [def. 0] 
MaxHeightLower 0

# Upper limit for the Shower Maximum. Units are km. [def. 0] 
MaxHeightUpper 100

# Currently Unused. Lower limit for the Standard Deviation 
# of the Shower Maximum. Units are km. [def. 0] 
MaxHeightSigmaLower 0

# Currently Unused. Upper limit for the Standard Deviation 
# of the Shower Maximum. Units are km. [def. 10] 
MaxHeightSigmaUpper 10

# Lower limit for the Energy. Units are GeV. [def. 0] 
EnergyLower 0

# Upper limit for the Energy. Units are GeV. [def. 100000] 
EnergyUpper 100000

# Currently Unused. Lower limit for the Standard Deviation 
# of the Energy. Units are TeV. [def. 0] 
EnergySigmaLower 0

# Currently Unused. Upper limit for the Standard Deviation 
# of the Energy. Units are TeV. [def. 10] 
EnergySigmaUpper 10

# Lower limit for the Standard Deviation on the Direction. 
# Units are radians. [def. 0] 
StdDirectionLower 0

# Upper limit for the Standard Deviation on the Direction. 
# Units are radians. [def. 10] 
StdDirectionUpper 10

# Lower limit for the Standard Deviation on the Core 
# Position. Units are m. [def. -500] 
StdCorePositionLower -500

# Upper limit for the Standard Deviation on the Core 
# Position. Units are m. [def. 500] 
StdCorePositionUpper 500